page-member-detail {
  .member-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .member-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
